<div class="container">


	  <!-- FIRST ROW OF BLOCKS -->     
      <div class="row">

        <!-- USER PROFILE BLOCK -->
          <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <p calss="title">Datos usuario</p>
                    <hr>
                  <div class="thumbnail">
                      <img src="assets/images/face80x80.jpg" alt="Marcel Newman" class="img-circle">
                  </div><!-- /thumbnail -->
                  <h1>Francisco Gonzalez</h1>
                  <h3>Chapala, Jalisco, Mexico</h3>
                  <br>
                      <div class="info-user">
                          <i class="fa fa-user fa-lg"></i>
                          <i class="fa fa-cog fa-lg"></i>
                          <i class="fa fa-envelope fa-lg"></i>
                          <i class="fa fa-key fa-lg"></i>
                      </div>
                  </div>
          </div>
  
        <!-- DONUT CHART BLOCK -->
          <div class="col-sm-3 col-lg-3">
                <div class="dash-unit ">
                    <p calss="title">Peticiones</p>
                    <hr>
                    <div class="chart-peticiones">
                    <canvas id="chartPeticiones"></canvas>

                    </div>
                  <h2>45%</h2>
              </div>
          </div>
  
        <!-- DONUT CHART BLOCK -->
          <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <p calss="title">Uso de servicios</p>
                    <hr>
                    <div class="chart-peticiones">
                      <canvas id="chartServicios"></canvas>
  
                      </div>
                  <h2>65%</h2>
              </div>
          </div>
          
          <div class="col-sm-3 col-lg-3">
  
        <!-- LOCAL TIME BLOCK -->
                <div class="half-unit">
                    <p calss="title">Hora servidor</p>
                    <hr>
                        <div class="clockcenter">
                            <h6>12:45:25</h6>
                        </div>
              </div>
  
        <!-- SERVER UPTIME -->
              <div class="half-unit">
                    <p calss="title">Tiempo actividad servidor</p>
                    <hr>
                    <div class="cont">
                      <p><img src="assets/images/up.png" alt=""> <strong>Up</strong> | 356ms.</p>
                  </div>
              </div>
  
          </div>
        </div><!-- /row -->
        
        
        <!-- SECOND ROW OF BLOCKS -->     
        <div class="row">
  
          <div class="col-sm-3 col-lg-3">
        
              <!-- BARS CHART - lineandbars.js file -->     
                      <div class="half-unit">
                          <p calss="title">Stock servicios</p>
                          <hr>
                          <div class="cont">
                           <div class="info-aapl">
                            <h4>AAPL</h4>
                            <ul>
                              <li><span class="orange" style="height: 37.5%"></span></li>
                              <li><span class="orange" style="height: 47.5%"></span></li>
                              <li><span class="orange" style="height: 70%"></span></li>
                              <li><span class="orange" style="height: 85%"></span></li>
                              <li><span class="green" style="height: 75%"></span></li>
                              <li><span class="green" style="height: 50%"></span></li>
                              <li><span class="green" style="height: 15%"></span></li>
                            </ul>
                          </div>
                          </div>
                      </div>
        
              <!-- TO DO LIST -->     
                      <div class="half-unit">
                          <p calss="title">Uso</p>
                          <hr>
                          <div class="cont">
                            <p><strong>13</strong> | Pending Tasks</p>
                        </div>
                             <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;"><span class="sr-only">60% Complete</span>
                                    
                                </div>
                             </div>
                      </div>
                  </div>
        <!-- GRAPH CHART - lineandbars.js file -->     
          <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                <p calss="title">Actividad servicios</p>
                <hr>
                  <div class="section-graph">
                    <div id="importantchart"></div>
                    <br>
                    <div class="graph-info">
                      <i class="graph-arrow"></i>
                      <span class="graph-info-big">634.39</span>
                      <span class="graph-info-small">+2.18 (3.71%)</span>
                    </div>
                  </div>
              </div>
          </div>
  
        <!-- LAST MONTH REVENUE -->     
          <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <p calss="title">Status membresias</p>
                    <hr>
                    <div class="cont">
                      <p><strong>$879</strong> | <strong>Realizado</strong></p>
                      <br>
                      <p><strong>$377</strong> | Pendiente</p>
                      <br>
                      <p><strong>$156</strong> | <span>Rechazada</span></p>
                      <br>
                      <p><img src="assets/images/up-small.png" alt="" > 12% Compared Last Month</p>
  
                  </div>
  
              </div>
          </div>
          
        <!-- 30 DAYS STATS - CAROUSEL FLEXSLIDER -->     
          <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <p calss="title">Actividad ultimos 30 dias</p>
                    <hr>
                    <br>
                    <br>
                  <div class="flexslider">
                      <ul class="slides">
                          <li><img src="assets/images/slide01.png" alt="slider" style="width: 20%;"></li>
                          <li><img src="assets/images/slide02.png" alt="slider" style="width: 20%;"></li>
                      </ul>
              </div>
                  <div class="cont">
                      <p>StatCounter Information</p>
                  </div>   
              </div>
          </div>
        </div><!-- /row -->
       
   
        <!-- THIRD ROW OF BLOCKS -->     
        <div class="row">
            <div class="col-sm-3 col-lg-3">
  
        <!-- LIVE VISITORS BLOCK -->     
                <div class="half-unit">
                    <p calss="title">Live Visitors</p>
                    <hr>
                    <div class="cont">
                    <p><strong>388</strong></p>
                    <p><img src="assets/images/up-small.png" alt=""> 412 Max. | <img src="assets/images/down-small.png" alt=""> 89 Min.</p>
                    </div>
                </div>
                
        <!-- PAGE VIEWS BLOCK -->     
                <div class="half-unit">
                    <p calss="title">Page Views</p>
                    <hr>
                    <div class="cont">
                    <p><strong>145.0K</strong></p>
                    <p><img src="assets/images/up-small.png" alt=""> 23.88%</p>
                    </div>
                </div>
            </div>
  
            <div class="col-sm-3 col-lg-3">
        <!-- TOTAL SUBSCRIBERS BLOCK -->     
                <div class="half-unit">
                    <p calss="title">Total Subscribers</p>
                    <hr>
                    <div class="cont">
                    <p><strong>14.744</strong></p>
                    <p>98 Subscribed Today</p>
                    </div>
                </div>
                
        <!-- FOLLOWERS BLOCK -->     
                <div class="half-unit">
                    <p calss="title">Twitter Followers</p>
                    <hr>
                    <div class="cont">
                    <p><strong>17.833 Followers</strong></p>
                    <p>SomeUser</p>
                    </div>
                </div>
            </div>
  
        <!-- LATEST NEWS BLOCK -->     
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <p calss="title">Latest News</p>
                    <hr>
                  <div class="info-user">
                      <span aria-hidden="true" class="li_news fs2"></span>
                  </div>
                  <br>
                    <div class="text">
                        <p><b>Alvarez.is:</b> A beautiful new Dashboard theme has been realised by Carlos Alvarez. Please, visit <a href="http://alvarez.is">Alvarez.is</a> for more details.</p>
                        <p style="color:green">Last Update: 5 minutes ago.</p>
                    </div>
                </div>
            </div>
  
          <!-- SWITCHES BLOCK -->     
          <div class="col-sm-3 col-lg-3">
              <div class="dash-unit">
                    <p calss="title">Switches</p>
                    <hr>
                    <div class="info-user">
                      <span aria-hidden="true" class="li_params fs2"></span>
                  </div>
                  <br>
                  <div class="switch">
                      <input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
                      <label for="on" class="switch-label switch-label-off">On</label>
                      <input type="radio" class="switch-input" name="view" value="off" id="off">
                      <label for="off" class="switch-label switch-label-on">Off</label>
                      <span class="switch-selection"></span>
                  </div>
                  <div class="switch switch-blue">
                      <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked="">
                      <label for="week2" class="switch-label switch-label-off">Week</label>
                      <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
                      <label for="month2" class="switch-label switch-label-on">Month</label>
                      <span class="switch-selection"></span>
                  </div>
                  
                  <div class="switch switch-yellow">
                      <input type="radio" class="switch-input" name="view3" value="yes" id="yes" checked="">
                      <label for="yes" class="switch-label switch-label-off">Yes</label>
                      <input type="radio" class="switch-input" name="view3" value="no" id="no">
                      <label for="no" class="switch-label switch-label-on">No</label>
                      <span class="switch-selection"></span>
                  </div>
              </div>
          </div>
        </div><!-- /row -->
        
        <!-- FOURTH ROW OF BLOCKS -->     
      <div class="row">
      
        
        
  
        <!-- GAUGE CHART BLOCK -->     
          <div class="col-sm-3 col-lg-3">
              <div class="dash-unit">
                    <p calss="title">Gauge Chart</p>
                    <hr>
                    <div class="info-user">
                      <span aria-hidden="true" class="li_lab fs2"></span>
                  </div>
                  <canvas id="canvas" width="300" height="300">
              </canvas></div>
          </div>
         
              
              <div class="col-sm-3 col-lg-3">
  
                 <!-- MODAL BLOCK -->     
                  <div class="half-unit">
                      <p calss="title">Modal</p>
                      <hr>
                        <div class="cont">
                            <a  role="button" class="btnnew" data-toggle="modal">Example Modal Window</a>
                        </div>
                    </div>
                 <!-- MODAL BLOCK -->     
                  <div class="half-unit">
                    <p calss="title">Modal</p>
                    <hr>
                      <div class="cont">
                          <a  role="button" class="btnnew" data-toggle="modal">Example Modal Window</a>
                      </div>
                  </div>
              </div>
              <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-p" calss="title">Modal p calss="title"</h4>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                 <!-- FAST CONTACT BLOCK -->     
              <div class="col-sm-3 col-lg-3">
                  <div class="dash-unit">
                    <p calss="title">Fast Contact</p>
                    <hr>
                    <div class="cont">
                      <form action="#get-in-touch" method="POST" id="contact">
                          <input type="text" id="contactname" name="contactname" placeholder="Name">
                          <input type="text" id="email" name="email" placeholder="Email">
                          <div class="textarea-container"><textarea id="message" name="message" placeholder="Message"></textarea></div>
                          <input type="submit" id="submit" name="submit" value="Send">
                      </form>
                  </div>
                  </div>
              </div>
  
                 <!-- INFORMATION BLOCK -->     
              <div class="col-sm-3 col-lg-3">
                  <div class="dash-unit">
                    <p calss="title">Block Dashboard</p>
                    <hr>
                    <div class="info-user">
                      <span aria-hidden="true" class="li_display fs2"></span>
                  </div>
                  <br>
                  <div class="text">
                  <p>Block Dashboard created by Basicoh.</p>
                  <p>Special Thanks to Highcharts, Linecons and Bootstrap for their amazing tools.</p>
                  </div>
  
                  </div>
              </div>
  
          </div><!--/row -->
       
      

</div>
